extends ../layout

block body
  include ../includes/header

  .container
    a(href="http://www.baidu.com" target="_self") 这是百度链接
    a(href="tel:15868897827") 15868897827
    a(href="sms:15868897827") 15868897827
    a(href="mailto:jeodiong@hotmail.com") jeodiong@hotmail.com

  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")