extends ../layout

block body
  include ../includes/header
  include ../includes/header_mobile

  .container.topic
    .categories
      span.title
        i.iconfont.icon-gupiao
        | 话题列表
      .tab-lists
        a#column_header_all.tab.active(href="#") 全部
        a#column_header_prodect.tab(href="#") 产品
        a#column_header_run.tab(href="#") 运营
        a#column_header_manage.tab(href="#") 管理
        a#column_header_o2o.tab(href="#") O2O
        a#column_header_other.tab(href="#") 其他
        
    .article-lists
      mixin article-list
        .article-list
          a(href="detail.html")
            .art-tag 融资／Finance
            .art-banner.lazy(data-original="my/img/1.jpg")
            p.art-title 教你认识资本市场，掌握企业融资工具！
            p.art-brief 如果你过去一心扑在产品开发、业务拓展上，对资本市场一无所知
          .art-tool
            span.like
              i.iconfont.icon-heart-1
              | 35145
        &nbsp;
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      +article-list
      .article-list.left-fix
    .change-pages
      | 这里是翻页



      











  include ../includes/footer

block script
  script(src="public/js/cbd.min.js")