footer.pc
  .container
    .left
      dl
        dt 关于小得
        dd.top
          a(href="" style="padding-left:0;") 关于我们
          a(href="") 加入我们
          a(href="" style="border-right: 0") 寻求合作我们
        dd
          a(href="mailto:tsy@xiaode.la") 反馈意见：tsy@xiaode.la
        dd
          span 客服电话：
          a(href="tel:400-8888-8888") 400-8888-8888
    .middle
      dl
        dt 合作伙伴
        dd
          a(href="http://www.b12.cn") B12
        dd
          a(href="") 良仓孵化器
    .right
      img(src="public/img/logo/xd_wx.jpg", alt="")
      p 扫描二维码关注小得微信公众号
  p ©2015 小得  浙ICP备09043258号-9