header.pc
  .container
    .xd-logo
      | 小得
    nav
      ul
        li
          a(href="index.html") 首页
        li
          a(href="topic.html") 话题
    a(href="").iconfont.icon-ren.become-share 成为分享者
    a(href="").header-signin 登录
    //- form(action="").header-form
    //-   input.header-input(type="text" placeholder="搜人名、话题" maxlength="40")
    //-   button.iconfont.icon-search
